<div class="flex items-center justify-between px-16 py-3 fixed bg-yellow-50 top-0 
            w-full transition-transform duration-1000 transform" 
            [class.hidden]="hideNavbar">
    <div class="w-12">
        <img href="/" src="assets/images/placeholder.png" alt="placeholder">
    </div>
    <div class="flex">
        <a href="/" class="text-xl text-gray-700 hover:text-blue-800">Certificates</a>
        <a href="/" class="ml-8 text-xl text-gray-700 hover:text-blue-800">Projects</a>
    </div>
</div>