<div class="flex items-center justify-around px-5 w-auto bg-gradient-to-r from-green-100 to-cyan-100" id="profile">
    <div class="w-1/2 flex-col">
        <div>
            <span class="text-7xl font-black text-blue-600">XYPHRUS VON KEITH V. CAGUAN</span>
        </div>
        <div>
            <span class="text-5xl font-bold mt-3 text-purple-900">Full Stack Developer</span>
        </div>
    </div>
    <div class="w-1/2 flex justify-center">
        <img src="assets/images/profile2-removebg.png" alt="placeholder"> 
    </div>
</div>