<div class="bg-gradient-to-r from-green-100 to-cyan-100 sm:flex lg:items-center justify-around" id="profile">
    <div class="sm:w-screen p-5 pt-20 pb-5 flex lg:w-1/2 flex-col">
        <div>
            <span class="text-blue-600 sm:text-3xl w-screen lg:text-4xl font-black">XYPHRUS VON KEITH V. CAGUAN</span>
        </div>
        <div>
            <span class="text-purple-900 sm:text-2xl lg:text-3xl font-bold mt-3">Full Stack Developer</span>
        </div>
    </div>
    <div class="hidden lg:flex justify-center w-1/2">
        <img src="assets/images/profile2-removebg.png" alt="placeholder"> 
    </div>
</div>