<div class="max-w-sm absolute">
    <div class="flex h-screen fixed">
        <ng-container *ngIf="show">
        <div class="flex-col w-full bg-gradient-to-r from-green-100 to-cyan-100 px-5 pt-5 relative drop-shadow-lg">
            <div class="w-24 py-5">
                <button>
                    <a href="#profile"><img src="assets/images/logo.png" alt="placeholder"></a>
                </button>
            </div>
            <div class="mb-5">
                <a href="#project" class="text-xl text-purple-900 hover:text-blue-600 font-black">Projects</a>
            </div>
            <div>
                <a href="#skills" class="text-xl text-purple-900 hover:text-blue-600 font-black">Skills</a>
            </div>
        </div>
    </ng-container>
        <div class="relative">
            <button class="bg-cyan-100 w-16 h-16 flex justify-center p-3 rounded-r-xl drop-shadow-lg" (click)="toggle()" id="bt">
                <img [@rotatedState]='state' src="assets/images/greater-than.png" alt="transition left-right" />
                {{buttonName}}
            </button>
        </div>
    </div>
</div>