<div class="w-auto px-5 bg-gradient-to-r from-green-100 to-cyan-100">
    <div>
        <h1 class="text-5xl text-blue-600 font-black">Projects</h1>
    </div>
    <div class="flex items-center">
        <div class="w-1/2 h-1/2 flex justify-center p-8">
            <img src="assets/images/Syrene.png" alt="Syrene">
        </div>
        <div class="w-1/2 pt-8">
            <h1 class="text-xl text-purple-900 font-extrabold mb-5">Syrene Chatbot</h1>
            <p class="text-xl text-purple-900">
                During the span of my On-The-Job training program in Spring Valley company, I have participated in developing a complex project that has its main target of users to the companies, schools and students nationwide. I was assigned as a frontend developer and we used Angular as our main framework for the website and SASS CSS as our CSS pre-processor.
            </p>
        </div>
    </div>
    <div class="flex items-center">
        <div class="w-1/2 h-1/2 flex justify-center p-8">
            <img src="assets/images/OJTPH.png" alt="ojtph">
        </div>
        <div class="w-1/2 pt-8">
            <h1 class="text-xl text-purple-900 font-extrabold mb-5">OJTPH</h1>
            <p class="text-xl text-purple-900">
                During my Thesis Writing in college we developed a chatbot that aims to  aid mental health professionals in dealing with their patients because of the increased rate of mental health related cases during the pandemic and named it as Syrene. I was assigned as a backend developer and we used Python Flask as our framework and Python as the programming language for the chatbot system and algorithm.
            </p>
        </div>
    </div>
</div>