<div class="bg-gradient-to-r from-green-100 to-cyan-100 lg: px-5 " id="project">
    <div class=" lg:py-5">
        <span class=" text-blue-600 font-black text-3xl lg:text-5xl">Projects</span>
    </div>
    <div class="flex items-center sm:flex-col-reverse lg:flex-row">
        <div class="flex sm:pt-0 lg:w-1/2 h-1/2 justify-center p-8">
            <img src="assets/images/Syrene.png" alt="Syrene">
        </div>
        <div class="lg:w-1/2 p-8">
            <div class="pb-5">
                <span class="text-purple-900 font-extrabold text-2xl lg:text-xl">Syrene Chatbot</span>
            </div>
            <p class="text-purple-900 text-base lg:text-xl">
                During the span of my On-The-Job training program in Spring Valley company, I have participated in developing a complex project that has its main target of users to the companies, schools and students nationwide. I was assigned as a frontend developer and we used Angular as our main framework for the website and SASS CSS as our CSS pre-processor.
            </p>
        </div>
    </div>
    <div class="flex items-center sm:flex-col-reverse lg:flex-row">
        <div class="flex sm:pt-0 lg:w-1/2 h-1/2 justify-center p-8">
            <img src="assets/images/OJTPH.png" alt="ojtph">
        </div>
        <div class="lg:w-1/2 p-8">
            <div class="pb-5">
                <span class="text-purple-900 font-extrabold text-2xl lg:text-xl">OJTPH</span>
            </div>
            <p class="text-purple-900 text-base lg:text-xl">
                During my Thesis Writing in college we developed a chatbot that aims to  aid mental health professionals in dealing with their patients because of the increased rate of mental health related cases during the pandemic and named it as Syrene. I was assigned as a backend developer and we used Python Flask as our framework and Python as the programming language for the chatbot system and algorithm.
            </p>
        </div>
    </div>
</div>