<div class="w-auto px-5 bg-gray-50 py-10">
    <div>
        <h1 class="text-5xl text-blue-800 font-medium">Projects</h1>
    </div>
    <div class="flex items-center justify-around flex-row-reverse">
        <div class="w-1/2 flex justify-center">
            <img src="assets/images/placeholder.png" alt="placeholder">
        </div>
        <div class="w-1/2">
            <p class="text-xl text-blue-800">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Recusandae repellat est dicta ipsam dolores alias unde accusamus? 
                Laudantium, similique iure vitae veniam vero aperiam accusantium provident rerum enim itaque quae?
                <br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Recusandae repellat est dicta ipsam dolores alias unde accusamus? 
                Laudantium, similique iure vitae veniam vero aperiam accusantium provident rerum enim itaque quae?
                <br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Recusandae repellat est dicta ipsam dolores alias unde accusamus? 
                Laudantium, similique iure vitae veniam vero aperiam accusantium provident rerum enim itaque quae?
            </p>
        </div>
    </div>
</div>